.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display{

  width: 85%
}
.tile1 {
  height: 640px;
  flex-direction: column;
  margin: 15px;
  box-sizing: 100%;
  align-items: center;
}
.tile2 {
height: 640px;
box-sizing: 100%;

}
nav {
  box-shadow: rgba(0, 0, 0, 0.08) 0 5px 8px;
  position:  absolute 1;
  width: 100%;
  
}

nav h1 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  background-color: rgb(87, 129, 87);
  color: white
;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  color: rgb(87, 129, 87);
  background-color: white;
}
.sticky-nav {
  position: sticky;
  top: 0;
}

nav p,
a {
  margin: 0;
  color: #444444;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.body{
 margin-left:12.5%;
 width:75%;
 background-color: aqua;
 flex: auto;

}